body {
  background: #F0F0F0;
  color: black;
}

#body {
  padding: 5em;
}

#projects .item img{
  display: block;
  width: 100%;
  height: auto;
}

#accent {
  color: #318ba2;
}

h1, h2, h3 {
  text-align: center;
}

p {
  text-align: justify;
}

.icons{
  display:inline-block;;
  width: 100%;
  text-align: center;
}

#me {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  box-sizing: border-box;
}

hr {
  border-color:black;
}

a{
  color:#318ba2;
}

.button{
  color:#318ba2;
}
