<h1>Hello. My name is Sam.</h1>

 <h3>I am an addicted problem solver, enthusiastic about the creative process and the actualization of client dreams. I seek out each challenge with relish and thrive on the development process to bring a project from idea to completion. I take a holistic approach to my work and strive to be a strong link in the team dynamic.</h3>

 <br>
 <h2>My Work</h2>
 <h3><a href="Resume.pdf" target="_blank">My Resume</a></h3>
 <h3>Current: Web Development Immersive with General Assembly</h3>
 <p>
   Full­stack web development program focused on common best practices in
   object­-oriented programming, MVC frameworks, data modeling, and
   test­-driven development. Developed a portfolio of individually focused
   and collaboratively focused projects. Projects included:
 </p>
 <div>
   <a href="http://www.samuelweisse.com/project-1/"><img src="/img/Project1.png" alt="Project 1 Backgammon" />Backgammon</a>
   <a href="https://secure-plains-44565.herokuapp.com/"><img src="/img/Project2.png" alt="Project 2 Basic Forum" />Basic Forum</a>
   <a href="https://magicdeckbuilder.herokuapp.com/"><img src="/img/Project3.png" alt="Project 3 Meanstack App for MTGDeckBuilder" />Magic: The Gathering Deck Builder</a>
   
   <p>
     If you are interesting in looking at any of my other work or in
     specific code for these project please feel to check out my
     <a href="https://github.com/Arcdeamonofire">Github</a>!
   </p>
 </div>
